<sa-widget [editbutton]="false" [custombutton]="false">
  <!-- widget div-->
  <div>
    <!-- widget content -->
    <div class="widget-body no-padding">

      <div class="smart-form">
        <div class="detalle-order">
          <header>
            <i class="icon-prepend fa fa-exclamation-circle"></i>
            Información Básica
          </header>
          <form #formBasic="ngForm" #form class="smart-form margin-top-10" novalidate="novalidate" [saUiValidate]="validationOptions" (onValidationSuccess)="onValidationSuccess($event)" name="form-basic">
            <div class="detalle-registro row padding-row">
              <div class="col col-sm-7">
                <div class="row">
                  <section class="col col-xs-5 col-sm-4">
                    <label for="category_id">Categoría</label>
                  </section>
                  <section class="col col-xs-7 col-sm-8">
                    <div class="select" [class.state-disabled]="product.product_id">
                      <select [attr.disabled]="product.product_id ? 'disabled' : null" name="category_id" id="category_id" [(ngModel)]="product.category_id" (change)="onSelectChange($event)">
                        <option value="">Seleccionar categoría</option>
                        <option *ngFor="let item of categories" value="{{item.category_id}}">
                          {{item.category_name}}
                        </option>
                      </select> <i></i>
                      <input *ngIf="product.product_id" type="hidden" name="category_id" value="{{product.category_id}}">
                    </div>
                  </section>
                </div>
                <div class="row">
                  <section class="col col-xs-7 col-sm-4">
                    <label for="brand_id">Marca</label>
                  </section>
                  <section class="col col-xs-5 col-sm-8">
                    <div class="select" [class.state-disabled]="product.product_id">
                      <select [attr.disabled]="product.product_id ? 'disabled' : null" name="brand_id" id="brand_id" [(ngModel)]="product.brand_id" (change)="onSelectChange($event)">
                        <option value="">Seleccionar marca</option>
                        <option *ngFor="let item of brands" value="{{item.brand_id}}">
                          {{item.brand_name}}
                        </option>
                      </select> <i></i>
                      <input *ngIf="product.product_id" type="hidden" name="brand_id" value="{{product.brand_id}}">
                    </div>
                  </section>
                </div>
                <div class="row">
                  <section class="col col-xs-7 col-sm-4">
                    <label for="product_model">Modelo</label>
                  </section>
                  <section class="col col-xs-5 col-sm-8">
                    <div class="input" [class.state-disabled]="product.product_id">
                      <input [attr.disabled]="product.product_id ? 'disabled' : null" id="product_model" name="product_model" type="text" [(ngModel)]="product.product_model">
                      <input *ngIf="product.product_id" type="hidden" name="product_model" value="{{product.product_model}}">
                    </div>
                  </section>
                </div>
                <div *ngIf="product.category_id && product.category_id !== 4" class="row">
                  <section class="col col-xs-7 col-sm-4">
                    <label for="product_tag">Etiqueta</label>
                  </section>
                  <section class="col col-xs-5 col-sm-8">
                    <div class="select">
                      <select name="product_tag" id="product_tag" [(ngModel)]="product.product_tag" (change)="onSelectChange($event)">
                        <option value="">Seleccionar etiqueta</option>
                        <option *ngFor="let item of ['Nuevo','Destacado']" value="{{item}}">
                          {{item}}
                        </option>
                      </select> <i></i>
                    </div>
                  </section>
                </div>
                <input  *ngIf="product.category_id && product.category_id == 4"  id="product_tag" name="product_tag" type="hidden" value="Nuevo">
                <div class="row">
                  <section class="col col-xs-7 col-sm-4">
                    <label for="product_price">Precio</label>
                  </section>
                  <section class="col col-xs-5 col-sm-8">
                    <div class="input">
                      <input id="product_price" name="product_price" type="text" [(ngModel)]="product.product_price">
                    </div>
                  </section>
                </div>
                <div *ngIf="product.category_id && product.category_id !== 4" class="row">
                  <section class="col col-xs-7 col-sm-4">
                    <label for="product_priority">Prioridad</label>
                  </section>
                  <section class="col col-xs-5 col-sm-8">
                    <div class="input">
                      <input id="product_priority" name="product_priority" type="text" [(ngModel)]="product.product_priority" maxlength="3">
                    </div>
                  </section>
                </div>
                <input  *ngIf="product.category_id && product.category_id == 4"  id="product_priority" name="product_priority" type="hidden" value="1">
                <!-- Sentinel Flag -->
                <div *ngIf="product.category_id && product.category_id !== 4" class="row">
                  <section class="col col-xs-7 col-sm-4">
                    <label for="product_sentinel">Prioridad</label>
                  </section>
                  <section class="col col-xs-5 col-sm-8">
                    <div class="input">
                      <input id="product_sentinel" name="product_sentinel" type="checkbox" [(ngModel)]="product.product_sentinel"> <span>Sentinel</span>
                    </div>
                  </section>
                </div>
                <input  *ngIf="product.category_id && product.category_id == 4"  id="product_sentinel" name="product_sentinel" type="hidden" value="0">
                <!-- End Sentinel Flag -->
              </div>
              <div class="col col-sm-5">
                <div class="row">
                  <section class="col col-sm-12">
                    <div class="text-center" style="border: 1px solid #ccc;">
                      <img *ngIf="product.product_image_url" class="product-image" src="{{product.product_image_url}}">
                      <img *ngIf="!product.product_image_url" class="product-image" src="/images/smartphone_placeholder.png" style="width: 170px;height: 320px;">
                    </div>
                  </section>
                </div>
                <div class="row">
                  <section class="col col-sm-12">
                    <div class="input input-file">
                      <span class="button">
                        <input #productImageInput id="product_image" name="product_image" type="file" (change)="changeFilename($event)">Subir
                      </span>
                      <input type="text" placeholder="" value="{{productImageUrl}}" readonly>
                    </div>
                  </section>
                </div>
              </div>
              <div class="col col-sm-12">
                <div class="row">
                  <footer>
                    <div class="btn-footer">
                      <button class="btn btn-primary" name="submit" type="submit">Guardar</button>
                    </div>
                  </footer>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>

    </div>
    <!-- end widget content -->
  </div>
  <!-- end widget div -->
</sa-widget>