<!-- MAIN CONTENT -->
<div id="content">
  <div class="row">
    <sa-big-breadcrumbs [items]="[' Producto', subtitle]" icon="cube" class="col-xs-12 col-sm-12 col-md-12 col-lg-12"></sa-big-breadcrumbs>
  </div>

  <div *ngIf="alert" class="alert alert-block alert-{{alert.mode}}" dismisser="">
    <h4 class="alert-heading">
      <i class="fa fa-check-square-o"></i>{{alert.title}}
    </h4>
    <p>{{alert.message}}</p>
  </div>

  <sa-widgets-grid>
    <div class="row">
      <article>
        <div class="col-sm-6 col-md-6 col-lg-6">
          <!-- PRODUCT BASIC -->
          <product-basic [product]="product"></product-basic>
          <!-- PRODUCT SPECS -->
          <product-specs></product-specs>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6">
          <!-- STOCK MODEL CODES -->
          <!--stock-models></stock-models-->
          <!-- PREPAGO VARIATIONS -->
          <prepago-variations *ngIf="product.product_id && product.category_id && product.category_id == 1"></prepago-variations>
          <!-- POSTPAGO VARIATIONS -->
          <postpago-variations *ngIf="product.product_id && product.category_id && product.category_id == 1"></postpago-variations>
        </div>
      </article>
    </div>
  </sa-widgets-grid>
</div>