<div id="content" *ngIf="blockContent | async">
  <div class="row">
    <sa-big-breadcrumbs [items]="['Estados']" icon="calendar" class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></sa-big-breadcrumbs>
  </div>
  <sa-widgets-grid>
    <!-- row -->
    <div class="row">
      <!-- NEW WIDGET START -->
      <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <!-- Widget ID (each widget will need unique ID)-->
        <sa-widget color="darken">
          <header>
            <span class="widget-icon"> <i class="fa fa-hashtag"></i> </span>
            <h2>ID: {{itinerario._id}}</h2>
          </header>
          <div class="widget-body">
            <form-container
              (onValidationSuccess)="onValidationSuccess($event)"
              [validatorOptions]="validationOptions"
            >
              <fieldset>
                <legend>Detalles Itinerario</legend>
                <div class="form-group">
                  <label class="col-md-2 control-label">PIN*</label>
                  <div class="col-md-4">
                    <input [(ngModel)]="itinerario.pin" name="pin" readonly class="form-control" type="text">
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-md-2 control-label">Idioma*</label>
                  <div class="col-md-4">
                      <select
                        [(ngModel)]="itinerario.langCode"
                        required class="form-control"
                      >
                        <option *ngFor="let lang of langCodes" [ngValue]="lang.code">{{lang.label}}</option>
                      </select>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-md-2 control-label">Fecha de inicio*</label>
                  <div class="col-md-4">
                    <input
                      [(ngModel)]="fecha_inicio" name="fecha_inicio" required class="form-control" type="text"
                      (onSmartDatepickerChange)="onDateChange($event)"
                      [saUiDatepicker]="{ dateFormat: 'dd/mm/yy'}"
                    >
                  </div>
                </div>
                <!-- <div class="form-group">
                  <label class="col-md-2 control-label">Fecha de fin*</label>
                  <div class="col-md-4">
                    <input
                      [(ngModel)]="fecha_fin" name="fecha_fin" required class="form-control" type="text"
                      (onSmartDatepickerChange)="onDateChange($event)"
                      [saUiDatepicker]="{ dateFormat: 'dd/mm/yy'}"
                    >
                  </div>
                </div> -->
                <div class="form-group">
                    <label class="col-md-2 control-label">Paquete*</label>
                    <div class="col-md-4">
                      <select
                        name="paquete"
                        required class="form-control"
                        select2 data-select-search="true"
                        [smartSelect2Options]="{placeholder: 'Selecciona un paquete'}"
                        [smartSelect2Selected]="itinerario.paquete?._id"
                        (onSmartSelect2Select)="onSelectChange($event)"
                      >
                        <option *ngFor="let paquete of paquetes" [attr.value]="paquete._id">{{paquete.titulo | itinerariosTranslate:itinerario.langCode:paquete.langCodes}}</option>
                      </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Subagencia*</label>
                    <div class="col-md-4">
                        <select
                          name="subagencia"
                          required class="form-control"
                          select2 data-select-search="true"
                          [smartSelect2Options]="{placeholder: 'Selecciona una Subagencia'}"
                          [smartSelect2Selected]="itinerario.subagencia?._id"
                          (onSmartSelect2Select)="onSelectChange($event)"
                        >
                          <option *ngFor="let subagencia of subagencias" [attr.value]="subagencia._id">{{subagencia.nombre}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                  <label class="col-md-2 control-label">Cliente</label>
                  <div class="col-md-4"  >
                    <input [(ngModel)]="nombreCliente" name="cliente" class="form-control" type="text" readonly>
                  </div>
                </div>
                <!-- <div class="form-group">
                    <label class="col-md-2 control-label">Cliente*</label>
                    <div class="col-md-4">
                        <select
                          name="cliente"
                          required class="form-control"
                          select2 data-select-search="true"
                          [smartSelect2Options]="{placeholder: 'Selecciona un Cliente'}"
                          [smartSelect2Selected]="itinerario.cliente?._id"
                          (onSmartSelect2Select)="onSelectChange($event)"
                        >
                          <option *ngFor="let cliente of clientes" [attr.value]="cliente._id">{{cliente.nombre}}</option>
                        </select>
                    </div>
                </div> -->
                <div class="form-group">
                  <label class="col-md-2 control-label">Voucher</label>
                  <div class="col-md-4">
                    <input style="text-transform:uppercase;" [(ngModel)]="itinerario.voucher" name="voucher" class="form-control" type="text">
                  </div>
                </div>
            </fieldset>
            <fieldset>
              <legend>Participantes</legend>
              <div class="form-group">
                  <ol class="col-md-4 col-md-push-2 participantes-list">
                    <li *ngFor="let participante of participantes; index as i">
                        <div class="input-group">
                          <input [(ngModel)]="itinerario.participantes[i]" class="form-control" type="text">
                          <span class="input-group-btn">
                            <button class="btn btn-danger" (click)="removeParticipante(i)" type="button">Quitar</button>
                          </span>
                        </div>
                    </li>
                    <li>
                      <div class="input-group">
                        <input placeholder="Ingresa un nuevo nombre" class="form-control" type="text"
                        #nuevoParticipante (keyup.enter)="addParticipante(nuevoParticipante, $event)">
                        <span class="input-group-btn">
                            <button class="btn btn-primary" (click)="addParticipante(nuevoParticipante)" type="button">Agregar</button>
                        </span>
                      </div>
                    </li>
                  </ol>
              </div>
            </fieldset>
            <div class="form-actions">
              <div class="row">
                <div class="col-md-12">
                  <button type="button" class="btn btn-default" onclick="window.history.back();">Regresar</button>
                  <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
              </div>
            </div>
          </form-container>
        </div>
      </sa-widget>
        <!-- end widget -->
      </article>
      <!-- WIDGET END -->
    </div>
    <!-- end row -->
  </sa-widgets-grid>
  <!-- end widget grid -->
</div>
