<div bsModal #lgModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="hideColorModal()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Agregar color</h4>
      </div>
      <div class="modal-body">
        <form #formColor="ngForm" [saUiValidate]="validationOptions" (onValidationInit)="referenceValidator($event)" (onValidationSuccess)="addColor($event)" class="smart-form" novalidate="novalidate" name="form-color">
          <div class="row">
            <div class="col-md-6">
              <div class="row">
                <section class="col col-sm-12">
                  <label for="color_id">Nombre</label>
                </section>
                <section class="col col-sm-12">
                  <div class="input">
                    <input id="color_name" name="color_name" [(ngModel)]="color.color_name" type="text" placeholder="Color">
                  </div>
                </section>
              </div>
            </div>
            <div class="col-md-6">
              <div class="row">
                <section class="col col-sm-12">
                  <label for="color_id">Código</label>
                </section>
                <section class="col col-sm-12">
                  <div class="input">
                    <i class="icon-append fa">#</i>
                    <input id="color_hexcode" name="color_hexcode" maxlength="6" [(ngModel)]="color.color_hexcode" type="text" placeholder="Valor Hexadecimal">
                  </div>
                </section>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button class="btn btn-default" type="button" (click)="hideColorModal()">
              Cancelar
            </button>
            <button class="btn btn-primary" type="submit" name="submit">
              Agregar
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="smart-form">
  <div class="detalle-order">
    <header>
      <i class="icon-prepend fa fa-exclamation-circle"></i>
      Modelos de Stock
      <label class="btn btn-primary btn-sm pull-right" style="line-height: 12px; margin-right: 5px" (click)="addSMC()">
        Agregar
      </label>
    </header>
    <div *ngFor="let stockmodel of stockmodels" class="padding-10 margin-top-10">
      <stockmodel-form [product_id]="product_id" [stockmodel]="stockmodel" [colors]="colors" (onAlert)="printAlert($event)" (onAddColor)="showColorModal($event)"></stockmodel-form>
    </div>
    <div *ngFor="let number of allowedBlocks" class="padding-10 margin-top-10">
      <stockmodel-form [product_id]="product_id" [colors]="colors" (onAlert)="printAlert($event)" (onAddColor)="showColorModal($event)"></stockmodel-form>
    </div>
  </div>
</div>
