<form #formStockModel="ngForm" #form class="smart-form" novalidate="novalidate" [saUiValidate]="validationOptions" (onInitComplete)="referenceValidator($event)" (onValidationSuccess)="onValidationSuccess($event)" name="form-stock-model{{stockmodel.stock_model_id}}" style="border: 1px solid #bbb; padding-top: 10px;">
  <input *ngIf="stockmodel.stock_model_id" type="hidden" name="stock_model_id" [(ngModel)]="stockmodel.stock_model_id">
  <div class="row detalle-registro padding-row">
    <div class="col col-sm-4">
      <div class="row">
        <section class="col col-sm-3">
          <label for="color_id" class="select">Color</label>
        </section>
        <section class="col col-sm-9">
          <div class="select">
            <select name="color_id" id="color_id" [(ngModel)]="stockmodel.color_id" (change)="onSelectChange($event)">
              <option value="">Seleccionar color</option>
              <option *ngFor="let item of colors" value="{{item.color_id}}">
                {{item.color_name}}
              </option>
            </select> <i></i>
          </div>
        </section>
      </div>
    </div>
    <div class="col col-sm-1">
      <div class="row">
        <section class="col col-sm-12">
          <a class="btn btn-primary btn-xs" (click)="addColor()" style="float: none;position: static;margin-left: -20px;margin-top: 5px;"><i class="fa fa-plus"></i></a>
        </section>
      </div>
    </div>
    <div class="col col-sm-4">
      <div class="row">
        <section class="col col-sm-3">
          <label for="color_id">Code</label>
        </section>
        <section class="col col-sm-9">
          <div class="input">
            <input id="stock_model_code" name="stock_model_code" type="text" placeholder="Stock Model Code" [(ngModel)]="stockmodel.stock_model_code"><i></i>
          </div>
        </section>
      </div>
    </div>
    <div class="col col-sm-3">
      <div class="row">
        <section class="col col-sm-12">
          <label *ngIf="stockmodel.stock_model_id" class="checkbox">
            <input id="active" name="active" type="checkbox" [(ngModel)]="stockmodel.active"><i></i>Habilitado
          </label>
        </section>
      </div>
    </div>
    <div class="col col-sm-12">
      <label class="margin-bottom-10">Imágenes</label>
      <div class="padding-10 margin-bottom-10 product-images" style="border: 1px solid #ccc;">
        <div class="row">
          <ng-container *ngFor="let product_image of stockmodel.product_images; let i = index">
            <section class="col col-sm-2" style="height: 120px;">
              <div class="text-center">
                <img class="product-image" src="{{product_image.product_image_url}}" style="max-height: 100px">
              </div>
            </section>
            <section class="col col-sm-2" style="height: 120px;">
              <div>
                <a target="_blank" href="{{product_image.product_image_url}}">{{product_image.product_image_name}}</a>
              </div>
              <div class="input margin-top-5">
                <input name="weight_{{i}}" type="text" placeholder="Peso" [(ngModel)]="product_image.weight"><i></i>
              </div>
              <a class="btn btn-primary btn-sm margin-top-5" (click)="showPopupRemoveImage(product_image)">Eliminar</a>
              <input type="hidden" name="product_image_id_{{i}}" [(ngModel)]="product_image.product_image_id">
              <input type="hidden" name="product_image_url_{{i}}" [(ngModel)]="product_image.product_image_url">
            </section>
          </ng-container>
        </div>
        <div *ngFor="let number of allowedImages; let ix = index" class="row">
          <section class="col col-sm-12">
            <div class="input input-file">
              <span class="button">
                <input name="product_images[]" type="file" (change)="changeFilename($event, ix)">Subir
              </span>
              <input type="text" placeholder="Nueva imagen" value="{{productImageUrl[ix]}}" readonly>
            </div>
          </section>
        </div>
      </div>
    </div>
    <div class="col col-sm-12">
      <div class="row">
        <footer>
          <div class="btn-footer">
            <button class="btn btn-primary" name="submit" type="submit">Guardar</button>
          </div>
        </footer>
      </div>
    </div>
  </div>
</form>
