<aside id="left-panel">

  <!-- User info -->
  <sa-login-info></sa-login-info>
  <!-- end user info -->

  <nav>
    <!-- NOTE: Notice the gaps after each icon usage <i></i>..
    Please note that these links work a bit different than
    traditional href="" links. See documentation for details.
    -->

    <ul saSmartMenu>
      <li routerLinkActive="active" *ngIf="isOperador()">
        <a title="Ventas"><i class="fa fa-lg fa-fw fa-shopping-cart"></i> <span
          class="menu-item-parent">{{'Ventas' | i18n}}</span></a>
        <ul>
          <li routerLinkActive="active">
            <a routerLink="/ventas/ordenes">{{'Ordenes' | i18n}}</a>
          </li>
          <li routerLinkActive="active" *ngIf="isAdmin()">
            <a routerLink="/ventas/reportes">{{'Reportes' | i18n}}</a>
          </li>
        </ul>
      </li>
      <li routerLinkActive="active" *ngIf="isEditor()">
        <a title="Productos"><i class="fa fa-lg fa-fw fa-cube"></i> <span
          class="menu-item-parent">{{'Productos' | i18n}}</span></a>
        <ul>
          <li routerLinkActive="active">
            <a routerLink="/productos/catalogo">{{'Catálogo' | i18n}}</a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="/productos/importacion">{{'Importación' | i18n}}</a>
          </li>
        </ul>
      </li>
    </ul>    
  </nav>

  <sa-minify-menu></sa-minify-menu>

</aside>
