<div *ngFor="let plan of plans" class="row padding-row">
  <div class="col col-sm-2">
    {{plan.plan_name}}
  </div>
  <div class="col col-sm-10">
    <postpago-form *ngIf="variationsByPlan[plan.plan_id]" [variation]="variationsByPlan[plan.plan_id]" [plan_id]="plan.plan_id"></postpago-form>
    <postpago-form *ngIf="!variationsByPlan[plan.plan_id]" [plan_id]="plan.plan_id"></postpago-form>
  </div>
</div>
<div class="row padding-row detalle-registro">
  <footer>
    <div class="btn-footer">
      <button class="btn btn-primary" (click)="saveAll()" type="button">Guardar</button>
    </div>
  </footer>
</div>
