<div *ngFor="let plan of plans" class="row padding-row">
  <div style="display: inline-block; border-bottom: 1px dotted; width: 100%">
    <div class="col col-sm-3">
      <div class="row">
        <section class="col col-sm-12">
          {{plan.plan_name}}
        </section>
      </div>  
      <div class="row">
        <section class="col col-sm-12">
          <label  *ngIf="variationsByPlan[plan.plan_id]" class="radiobuttom">
            <input type="radio" id="mejor_plan{{affiliation_id}}" name="mejor_plan{{affiliation_id}}" [value]="variationsByPlan[plan.plan_id].plan_id" [(ngModel)]="best_plan"> Mejor Plan
          </label>  
        </section>
      </div> 
    </div>
    <div class="col col-sm-9">
      <postpago-form *ngIf="variationsByPlan[plan.plan_id]" [variation]="variationsByPlan[plan.plan_id]" [plan_id]="plan.plan_id"></postpago-form>
      <postpago-form *ngIf="!variationsByPlan[plan.plan_id]" [plan_id]="plan.plan_id"></postpago-form>
    </div>
  </div>
</div>
<div class="row padding-row detalle-registro">
  <footer>
    <div class="btn-footer">
      <button class="btn btn-primary" (click)="saveAll()" type="button">Guardar</button>
    </div>
  </footer>
</div>
