<div class="smart-form">
  <div class="detalle-order">
    <header>
      <i class="icon-prepend fa fa-exclamation-circle"></i>
      Variaciones Postpago
    </header>
    <accordion *ngFor="let contract of contracts; let b = index" class="smart-accordion-default panel-group" >
      <accordion-group (click) = "current = b">
        <h4 class="panel-title" accordion-heading>
          <a><i class="pull-right fa fa-lg" [ngClass]="{'fa-angle-up': b != current, 'fa-angle-down': b == current}"></i>{{contract.contract_name}}</a>
        </h4>
      </accordion-group>
      <div id="collapse1" class="panel-collapse" [class.collapse]='current != b'>
        <postpago-affiliations [contract_id]="contract.contract_id" (onAlert)="printAlert($event)"></postpago-affiliations>
      </div>
    </accordion>
  </div>
</div>
