<form #formBanner="ngForm" #form class="smart-form" novalidate="novalidate" [saUiValidate]="validationOptions" (onInitComplete)="referenceValidator($event)" (onValidationSuccess)="onValidationSuccess($event)" name="form-banner-{{bannermodel.image_id}}" style="border: 1px solid #bbb; padding-top: 10px;">
  
  <div class="row detalle-registro padding-row">
    
    <div class="col col-sm-12">
      <!-- <label class="margin-bottom-10">Banner Principal - Sliders</label> -->
      <div class="padding-10 margin-bottom-10 product-images" style="border: 1px solid #ccc;">
        <label class="margin-bottom-10">{{bannermodel.image_description}}</label>
        <br>
        <div  class="row">
          <section class="col col-sm-6">
            <div class="images-content">
              <span class="label-content"> Imágen :  </span>
              <div class="input-content input input-file">
                <span class="button">
                  <input name="slider_images[]" type="file" (change)="changeFilename($event, 0)">Subir
                </span>
                <input type="text" placeholder="Nueva imagen" value="{{bannerImageUrl[0]}}" readonly>
              </div>
            </div>
            <br>
            <div class="images-content">
              <span class="label-content"> Link : </span>
              <div class="input-content input input-file">
                <input type="text" placeholder="Nuevo link" name="slider_link" value="{{bannermodel.image_link}}" >
              </div>  
            </div>
            
          </section>
          <section class="col col-sm-3 text-center"> 
              <img src="{{bannermodel.image_url}}" width="200px" height="100px">
          </section>
          <section class="col col-sm-3 text-center">
              <img src="{{bannermodel.image_demo}}" width="120px" height="180px">
          </section>
        </div>
      </div>


    </div>
    <div class="col col-sm-12">
      <div class="row">
        <footer>
          <div class="btn-footer">
            <button class="btn btn-primary" name="submit" type="submit">Guardar</button>
          </div>
        </footer>
      </div>
    </div>
  </div>
</form>