<form #formStockModel="ngForm" #form class="smart-form" novalidate="novalidate"  name="" style="border: 1px solid #bbb; padding-top: 10px;">
  
  <div class="row detalle-registro padding-row">
    
    <div class="col col-sm-12">
      <label class="margin-bottom-10">Banner</label>
      <div class="padding-10 margin-bottom-10 product-images" style="border: 1px solid #ccc;">
        <label class="margin-bottom-10">1. Banner Postpago </label>
        <br>
        <div class="row">
          <section class="col col-sm-6">
            <div class="images-content">
              <span class="label-content"> Imágen :  </span>
              <div class="input-content input input-file">
                <span class="button">
                  <input name="banner_images[]" type="file" (change)="changeFilename($event, 0)">Subir
                </span>
                <input type="text" placeholder="Nueva imagen" value="{{bannerImageUrl[0]}}" readonly>
              </div>
            </div>
            <br>
            <div class="images-content">
              <span class="label-content"> Link : </span>
              <div class="input-content input input-file">
              <input type="text" placeholder="Nuevo link" value="" >
            </div>  
            </div>
            
          </section>
          <section class="col col-sm-3"> 
              Imagen 1
          </section>
          <section class="col col-sm-3">
              Imagen 2
          </section>
        </div>
      </div>

      <div class="padding-10 margin-bottom-10 product-images" style="border: 1px solid #ccc;">
        <label class="margin-bottom-10">2. Banner Prepago </label>
        <br>
        <div class="row">
          <section class="col col-sm-6">
            <div class="images-content">
              <span class="label-content"> Imágen :  </span>
              <div class="input-content input input-file">
                <span class="button">
                  <input name="banner_images[]" type="file" (change)="changeFilename($event, 1)">Subir
                </span>
                <input type="text" placeholder="Nueva imagen" value="{{bannerImageUrl[1]}}" readonly>
              </div>
            </div>
            <br>
            <div class="images-content">
              <span class="label-content"> Link : </span>
              <div class="input-content input input-file">
              <input type="text" placeholder="Nuevo link" value="" >
            </div>  
            </div>
            
          </section>
          <section class="col col-sm-3"> 
              Imagen 1
          </section>
          <section class="col col-sm-3">
              Imagen 2
          </section>
        </div>
      </div>
      
      <div class="padding-10 margin-bottom-10 product-images" style="border: 1px solid #ccc;">
        <label class="margin-bottom-10">3. Banner Accesorios </label>
        <br>
        <div class="row">
          <section class="col col-sm-6">
            <div class="images-content">
              <span class="label-content"> Imágen :  </span>
              <div class="input-content input input-file">
                <span class="button">
                  <input name="banner_images[]" type="file" (change)="changeFilename($event, 2)">Subir
                </span>
                <input type="text" placeholder="Nueva imagen" value="{{bannerImageUrl[2]}}" readonly>
              </div>
            </div>
            <br>
            <div class="images-content">
              <span class="label-content"> Link : </span>
              <div class="input-content input input-file">
              <input type="text" placeholder="Nuevo link" value="" >
            </div>  
            </div>
            
          </section>
          <section class="col col-sm-3"> 
              Imagen 1
          </section>
          <section class="col col-sm-3">
              Imagen 2
          </section>
        </div>
      </div>

      <div class="padding-10 margin-bottom-10 product-images" style="border: 1px solid #ccc;">
        <label class="margin-bottom-10">4. Banner Promociones </label>
        <br>
        <div class="row">
          <section class="col col-sm-6">
            <div class="images-content">
              <span class="label-content"> Imágen :  </span>
              <div class="input-content input input-file">
                <span class="button">
                  <input name="banner_images[]" type="file" (change)="changeFilename($event, 3)">Subir
                </span>
                <input type="text" placeholder="Nueva imagen" value="{{bannerImageUrl[3]}}" readonly>
              </div>
            </div>
            <br>
            <div class="images-content">
              <span class="label-content"> Link : </span>
              <div class="input-content input input-file">
              <input type="text" placeholder="Nuevo link" value="" >
            </div>  
            </div>
            
          </section>
          <section class="col col-sm-3"> 
              Imagen 1
          </section>
          <section class="col col-sm-3">
              Imagen 2
          </section>
        </div>
      </div>
   

    </div>
    <div class="col col-sm-12">
      <div class="row">
        <footer>
          <div class="btn-footer">
            <button class="btn btn-primary" name="submit" type="submit">Guardar</button>
          </div>
        </footer>
      </div>
    </div>
  </div>
</form>