<sa-widget [editbutton]="false" [custombutton]="false">
  <!-- widget div-->
  <div>
    <!-- widget content -->
    <div class="widget-body no-padding">

      <div class="smart-form">
        <div class="detalle-order">
          <header>
            <i class="icon-prepend fa fa-exclamation-circle"></i>
            Información Básica
          </header>
          <form #formBasic="ngForm" #form class="smart-form margin-top-10" novalidate="novalidate" [saUiValidate]="contractOptions" (onValidationSuccess)="onValidationSuccess($event)" name="form-basic">
            <div class="detalle-registro row padding-row">
              <div class="col col-sm-12">
                <div class="row">
                  <section class="col col-xs-7 col-sm-4">
                    <label for="contract_name">Nombre</label>
                  </section>
                  <section class="col col-xs-5 col-sm-8">
                    <div [class.state-disabled]="contract.contract_id" class="input">
                      <input id="contract_name" name="contract_name" type="text" [(ngModel)]="contract.contract_name">
                    </div>
                  </section>
                </div>
                <div class="row">
                  <section class="col col-xs-7 col-sm-4">
                    <label for="contract_months">Duración</label>
                  </section>
                  <section class="col col-xs-5 col-sm-8">
                    <div [class.state-disabled]="contract.contract_id" class="input">
                      <input id="contract_months" name="contract_months" type="text" [(ngModel)]="contract.contract_months">
                    </div>
                  </section>
                </div>
                <div class="row">
                  <section class="col col-xs-7 col-sm-4">
                    <label for="contract_weight">Orden</label>
                  </section>
                  <section class="col col-xs-5 col-sm-8">
                    <div [class.state-disabled]="contract.contract_id" class="input">
                      <input id="weight" name="weight" type="text" [(ngModel)]="contract.weight">
                    </div>
                  </section>
                </div>
              </div>
              <div class="col col-sm-12">
                <div class="row">
                  <footer>
                    <div class="btn-footer">
                      <button class="btn btn-primary" name="submit" type="submit">Guardar</button>
                    </div>
                  </footer>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>

    </div>
    <!-- end widget content -->
  </div>
  <!-- end widget div -->
</sa-widget>
