<div id="content">
  <div class="row">
    <sa-big-breadcrumbs [items]="['Usuarios']" icon="user" class="col-xs-4 col-sm-7 col-md-7 col-lg-4"></sa-big-breadcrumbs>
    <div class="col-xs-8 col-sm-5 col-sm-offset-0 col-md-5 col-md-offset-0 col-lg-5 col-lg-offset-3">
      <a routerLink="./nuevo" class="btn btn-primary btn-lg pull-right" style="margin: 8px 0px;">Nuevo Usuario</a>
    </div>
  </div>

  <alert *ngFor="let a of alert" type="{{a.mode}}" dismissible="true">
    <i class="fa-fw fa fa-check"></i>
    <strong>{{a.title}}</strong> {{a.message}}
  </alert>
  
  <sa-widgets-grid>
    
    <div class="row">
      <article class="col-sm-12">

        <sa-widget class="well" color="darken">
          <div>
            <div class="widget-body no-padding">
              <sa-datatable [options]="options" [dtTrigger]="dtTrigger" 
                [paginationLength]="true" [filter]="true" tableClass="table table-striped table-bordered table-hover">
                <thead>
                  <tr>
                    <th class="hasinput" style="width:5%">
                      <input type="text" class="form-control" placeholder="Id">
                    </th>
                    <th class="hasinput" style="width:5%">
                      <input type="text" class="form-control" placeholder="DNI">
                    </th>
                    <th class="hasinput" style="width:16%">
                      <input type="text" class="form-control" placeholder="Nombres">
                    </th>
                    <th class="hasinput" style="width:13%">
                      <input type="text" class="form-control" placeholder="Usuario">
                    </th>
                    <th class="hasinput" style="width:6%">
                      <input type="text" class="form-control" placeholder="Rol">
                    </th>
                    <th class="hasinput" style="width:15%">
                      <input type="text" class="form-control" placeholder="Publicado">
                    </th>
                    <th class="hasinput" style="width:15%">
                      <input type="text" class="form-control" placeholder="Actualizado">
                    </th>
                    <th class="hasinput" style="width:8%"></th>
                    <th class="hasinput" style="width:5%"></th>
                  </tr>
                  <tr>
                    <th style="width:5%">Id</th>
                    <th style="width:5%">DNI</th>
                    <th style="width:16%">Nombres</th>
                    <th style="width:13%">Usuario</th>
                    <th style="width:6%">Rol</th>
                    <th data-hide="phone,tablet" style="width:15%">Publicado</th>
                    <th data-hide="phone,tablet" style="width:15%">Actualizado</th>
                    <th data-hide="phone,tablet" style="width:9%">Activo</th>
                    <th style="width:5%">Acción</th>
                  </tr>
                </thead>
                <tbody *ngIf="itemsObs | async as items; else loading">
                  <ng-container *ngFor="let item of items; let last = last" 
                  sa-cond-trigger [cond]="last ? true : false" [trigger]="dtTrigger">
                    <tr>
                      <td>{{ item.id }}</td>
                      <td>{{ item.user_dni }}</td>
                      <td>{{ item.user_name }}</td>
                      <td>{{ item.user_email }}</td>
                      <td>
                        <div *ngIf="item.user_rol == 1">
                            Administrador
                        </div>
                        <div *ngIf="item.user_rol == 2">
                            Usuario Editor
                        </div>
                        <div *ngIf="item.user_rol == 3">
                            Usuario Operador
                        </div>
                      </td>
                      <td [attr.data-order]="item.created_at | moment:'x'">{{ item.created_at }}</td>
                      <td [attr.data-order]="item.updated_at | moment:'x'">{{ item.updated_at }}</td>
                      <td [attr.data-order]="item.active">
                        <span *ngIf="item.active" class="fa fa-check-circle" style="color: green;"></span>
                        <span *ngIf="!item.active" class="fa fa-minus-circle" style="color: red;"></span>
                      </td>
                      <td>
                        <div class="btn-group dropdown" dropdown>
                          <button class="btn btn-primary dropdown-toggle" dropdownToggle>
                            <i class="fa fa-gear"></i>
                            <i class="fa fa-caret-down"></i>
                          </button>
                          <ul *dropdownMenu class="dropdown-menu">
                            <li *ngIf="item.active">
                              <a (click)="detail(item)">Editar</a>
                            </li>
                            <li *ngIf="!item.active">
                              <a (click)="showPopupPublish(item)">Publicar</a>
                            </li>
                            <li *ngIf="item.active">
                              <a (click)="showPopupUnpublish(item)">Despublicar</a>
                            </li>
                          </ul>
                        </div>
                      </td>
                    </tr>
                  </ng-container>                
                </tbody>
                <ng-template #loading>
                  <tr class="odd">
                    <td valign="top" colspan="10" class="dataTables_empty">
                      {{ loadingStatus }}
                    </td>
                  </tr>
                </ng-template>
              </sa-datatable>
            </div>
          </div>
        </sa-widget>
      
      </article>
    </div>

  </sa-widgets-grid>

</div>