<!--form #formGeneralOrders="ngForm" class="smart-form margin-top-10" novalidate="novalidate" [saUiValidate]="validationOptions" (onValidationSuccess)="exportGeneralOrders($event)" name="form-general-orders"-->
<form #formGeneralOrders="ngForm" (ngSubmit)="exportGeneralOrders(formGeneralOrders)" class="smart-form margin-top-10" novalidate="novalidate" name="form-general-orders" autocomplete="off">
  <div class="detalle-registro row padding-row">
    <div class="col col-sm-4">
      <div class="form-group">
        <div class="input-group">
          <input class="form-control" id="begin_date" name="begin_date" [saUiDatepicker]="{
            dateFormat: 'dd/mm/yy',
            defaultDate: '-1w',
            changesMonth: true,
            numberOfMonth: 3,
            minRestrict: '#end_date'
           }" (onSmartDatepickerChange)="datesChanged($event)" type="text" placeholder="Fecha de Inicio">
          <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
        </div>
      </div>
    </div>
    <div class="col col-sm-4">
      <div class="form-group">
        <div class="input-group">
          <input class="form-control" id="end_date" name="end_date" [saUiDatepicker]="{
            dateFormat: 'dd/mm/yy',
            defaultDate: 'now',
            changesMonth: true,
            numberOfMonth: 3,
            maxRestrict: '#begin_date'
           }" (onSmartDatepickerChange)="datesChanged($event)" type="text" placeholder="Fecha de Fin">
          <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
        </div>
      </div>
    </div>
    <!--div class="col col-sm-4">
      <button class="btn btn-primary" name="submit" type="submit">Exportar todo</button>
    </div-->
  </div>
</form>