<table cell-padding="5" cell-spacing="0" border="0" class="table table-hover table-condensed">
  <tbody><tr>
      <td style="width:100px"><b>Nombre:</b></td>
      <td>{{data.nombre}}</td>
  </tr>
  <tr>
      <td><b>Slogan:</b></td>
      <td>{{data.slogan}}</td>
  </tr>
  <tr>
      <td><b>Descripción:</b></td>
      <td>{{data.desc}}</td>
  </tr>
  <tr>
    <td><b>Estilos:</b></td>
    <td>
        Colores:
        <div *ngFor="let estilo of estilos">
            {{ estilo }}: <strong>{{ colors[estilo] }}</strong>
            <span style="display:inline-block; width: 15px; height: 15px; border-radius: 15px;" [style.backgroundColor]="colors[estilo]"></span>
        </div>
    </td>
  </tr>
  <tr>
      <td><b>Creado:</b></td>
      <td>{{data.creado | date:"dd-MM-yy" }}</td>
  </tr>
  <tr>
      <td><b>Modificado:</b></td>
      <td>
          {{data.modificado | date:"dd-MM-yy" }}
      </td>
  </tr>
  <tr>
    <td><b>Logo:</b></td>
    <td>
        <img [src]="data.logo" style="width: 160px; height: auto" alt="imagen logo">
      <!-- <button (click)="Desactivar(data)" class="btn btn-xs btn-danger pull-right" style="margin-left:5px">Desactivar</button> -->
      <button (click)="Editar(data)" class="btn btn-xs btn-success pull-right">Editar</button>
    </td>
  </tr>
</tbody>
</table>