<table cell-padding="5" cell-spacing="0" border="0" class="table table-hover table-condensed">
    <tbody><tr>
        <td style="width:100px"><b>Paquete:</b></td>
        <td>{{data.paquete?.titulo[0]}}</td>
    </tr>
    <tr>
        <td><b>Voucher:</b></td>
        <td>{{data.voucher}}</td>
    </tr>
    <tr>
        <td><b>PIN:</b></td>
        <td>{{data.pin}}</td>
    </tr>
    <tr>
        <td><b>Participantes:</b></td>
        <td>{{data.participantes.join(', ')}}</td>
    </tr>
    <tr>
        <td><b>Creado:</b></td>
        <td>{{data.creado | date:"dd-MM-yy" }}</td>
    </tr>
    <tr>
        <td><b>Modificado:</b></td>
        <td>{{data.modificado | date:"dd-MM-yy" }}</td>
    </tr>
    <tr>
        <td><b>Actividades:</b></td>
        <td>
            <button (click)="Actividades(data)" class="btn btn-xs btn-primary">Ver Actividades</button>
            <!-- <button (click)="Desactivar(data)" class="btn btn-xs btn-danger pull-right" style="margin-left:5px">Desactivar</button> -->
            <button (click)="Editar(data)" class="btn btn-xs btn-success pull-right">Editar</button>
        </td>
    </tr></tbody>
</table>