  <!-- MAIN CONTENT -->
<div id="content">
  <div class="row">
    <div class="col col-md-7">
      <sa-big-breadcrumbs [items]="[' Detalle de Orden', 'Nro. #'+order.order_id]" icon="cube" class= "col-xs-12 col-sm-12 col-md-12 col-lg-12">
      </sa-big-breadcrumbs>
    </div>
    <div class="col col-md-2">
      <button class="btn btn-default" name="btn-back" type="button" (click)="cmdBackOrders()">Regresar</button>
    </div>
    <div class="col col-md-2 col-md-offset-1">
        <div class="col col-md-4 col-md-offset-4">
          <button *ngIf="prev > 0" class="btn btn-default" name="btn-back" type="button" (click)="orderBack()"><i class="icon-prepend fa fa-angle-left"></i></button>
        </div>
        <div class="col col-md-4">    
          <button *ngIf="next > 0" class="btn btn-default" name="btn-next" type="button" (click)="orderNext()"><i class="icon-prepend fa fa-angle-right"></i></button>
        </div>  
    </div>
  </div>

  <!--div class="alert alert-block alert-success" dismisser="">
    <h4 class="alert-heading"><i class="fa fa-check-square-o"></i> Check validation!</h4>

    <p>
      You may also check the form validation by clicking on the form action button. Please try and see the results
      below!
    </p>
  </div-->
  <div *ngIf="alert" class="alert alert-block alert-{{alert.mode}}" dismissible="true">
    <h4 class="alert-heading">
      <i class="fa fa-check-square-o"></i> {{alert.title}}
    </h4>
    <p>{{alert.message}}</p>
  </div>

  <!-- widget grid -->
  <sa-widgets-grid>
    <!-- START ROW -->

    <div class="row">
      <!-- NEW COL START -->
      <article>

        <div class="col-sm-4 col-md-4 col-lg-4">
          <!-- Widget ID (each widget will need unique ID)-->
          <sa-widget [editbutton]="false" [custombutton]="false">
            <!-- widget div-->
            <div>
              <!-- widget content -->
              <div class="widget-body no-padding">

                <form id="checkout-form" class="smart-form" novalidate="novalidate">
                  <div class="detalle-order">
                    <header>
                      <i class="icon-prepend fa fa-shopping-cart"></i>
                      Detalle de orden
                    </header>
                    <div id="field-detalle-order">
                      <div class="field-order">
                        <i class="icon-prepend fa fa-list"></i>
                        <p>
                          Pedido "{{order.order_status_name}}"
                        </p>
                        <a class="btn btn-primary btn-xs" (click)="statusHistory()">Cambiar <i class="fa fa-gear"></i></a>
                      </div>
                      <div class="col-sm-6" style="padding-left:0px; padding-right:0px;">
                        <div class="field-order">
                          <i class="icon-prepend fa fa-building"></i>
                          <p>Sucursal {{order.branch_name ? order.branch_name : 'Ninguna'}}</p>
                        </div>
                      </div>
                      <div class="col-sm-6" style="padding-left:0px; padding-right:0px;">  
                        <div class="field-order" *ngIf="order.store_id > 0">
                          <select id="store_id" *ngIf="order.store_id > 0" name="store_name" class="col-xs-12" (change)="showPopupStore(order.store, order.order_id, $event)" [(ngModel)]='order.store_id'>
                            <option value="">Asignar Tienda</option> 
                            <option *ngFor="let item of order.store" value="{{item.store_id}}">{{item.store_name}}</option>
                          </select>  <i></i>
                        </div>
                        <div class="field-order" *ngIf="!order.store_id">
                          <select id="store_id" name="store_name" class="col-xs-12" (change)="showPopupStore(order.store, order.order_id, $event)">
                            <option value="" selected>Asignar Tienda</option> 
                            <option *ngFor="let item of order.store" value="{{item.store_id}}">{{item.store_name}}</option>
                          </select>  <i></i>
                        </div>
                      </div>  
                      <div class="field-order">
                        <i class="icon-prepend fa fa-calendar"></i>
                        <p>{{order.order_date}}</p>
                      </div>
                      <div class="field-order">
                        <i class="icon-prepend fa fa-credit-card"></i>
                        <p>{{order.method_name}}</p>
                      </div>
                    </div>
                  </div>
                </form>

              </div>
              <!-- end widget content -->
            </div>
            <!-- end widget div -->
          </sa-widget>
        </div>

        <div class="col-sm-4 col-md-4 col-lg-4">
          <sa-widget [editbutton]="false" [custombutton]="false">
            <!-- widget div-->
            <div>
              <!-- widget content -->
              <div class="widget-body no-padding">
                <form id="checkout-form" class="smart-form" novalidate="novalidate">
                  <div class="detalle-order">
                      <header>
                        <i class="icon-prepend fa fa-user"></i>
                        Detalle del Cliente
                      </header>
                      <div id="field-detalle-order">
                        <div class="col-sm-6" style="padding-left:0px; padding-right:0px;">
                          <div class="field-order">
                            <i class="icon-prepend fa fa-user"></i>
                            <p>{{order.first_name}} {{order.last_name}} </p>
                          </div>  
                        </div>  
                        <div class="col-sm-6" style="padding-left:0px; padding-right:0px;">  
                          <div class="field-order">  
                            <i class="icon-prepend fa fa-user"></i>
                            <p>{{order.id_number}}</p>
                          </div> 
                        </div>
                        <div class="field-order">
                            <i class="icon-prepend fa  fa-home"></i>
                            <p>{{order.billing_district}}</p>
                        </div>
                        <div class="field-order">
                            <i class="icon-prepend fa fa-envelope"></i>
                            <p>{{order.contact_email}}</p>
                        </div>
                        <div class="col-sm-6" style="padding-left:0px; padding-right:0px;">
                          <div class="field-order">
                              <i class="icon-prepend fa fa-phone"></i>
                              <p>{{order.billing_phone}}</p>
                          </div>
                        </div>  
                        <div class="col-sm-6" style="padding-left:0px; padding-right:0px;">
                          <div class="field-order">
                              <p>{{order.idschedule_name}}</p>
                          </div>
                        </div>  
                      </div>
                  </div>
                </form>
              </div>
            </div>
          </sa-widget>
        </div>

        <div class="col-sm-4 col-md-4 col-lg-4">
          <sa-widget [editbutton]="false" [custombutton]="false">
            <!-- widget div-->
            <div>
              <!-- widget content -->
              <div class="widget-body no-padding">
                <form id="checkout-form" class="smart-form" novalidate="novalidate">
                  <div class="detalle-order">
                      <header>
                        <i class="icon-prepend fa fa-exclamation-circle"></i>
                        Mas información
                      </header>
                      <div id="field-detalle-order">
                        <div class="field-order">
                          <i class="icon-prepend fa fa-credit-card"></i>
                          <p>Crédito: "{{order.credit_status}}"</p>
                          <div *ngIf="!equipo.product_sentinel" class="btn-group dropdown" style="float: right; right: 5px; position: absolute;" dropdown>
                            <button class="btn btn-primary btn-xs dropdown-toggle" dropdownToggle>
                              Cambiar
                              <i class="fa fa-gear"></i>
                              <i class="fa fa-caret-down"></i>
                            </button>
                            <ul *dropdownMenu class="dropdown-menu">
                              <li *ngFor="let item of credit_status_list">
                                <a *ngIf="item != order.credit_status" (click)="showPopupCreditStatus(item)">{{item}}</a>
                              </li>
                            </ul>
                          </div>
                        </div>
                        <div *ngIf="order.device" class="field-order">
                          <i class="icon-prepend fa fa-code"></i>
                          <p>Product Code: {{order.device.product_code}}</p>
                        </div>
                        <div *ngIf="order.device" class="field-order">
                          <i class="icon-prepend fa fa-code"></i>
                          <p>Reason Code: {{order.device.reason_code}}</p>
                        </div>
                        <div *ngIf="order.device" class="field-order">
                          <i class="icon-prepend fa fa-code"></i>
                          <p>Product Package: {{order.device.product_package}}</p>
                        </div>
                      </div>
                  </div>
                </form>
              </div>
            </div>
          </sa-widget>
        </div>

        <div class="col-sm-12 col-md-12 col-lg-12">
          <sa-widget [editbutton]="false" [custombutton]="false">
            <!-- widget div-->
            <div>
              <!-- widget content -->
              <div class="widget-body no-padding">
                <form id="checkout-form" class="smart-form" novalidate="novalidate">
                  <div class="detalle-order">
                    <header>
                      <i class="icon-prepend fa fa-cube"></i>
                      Orden <span>#{{order.order_id}}</span>
                    </header>
                    <div id="field-detalle-order" class="detalle-info">
                      <div class="direccion-de-envio">
                        <header>
                          <i class="icon-prepend fa fa-truck"></i>
                          Información de Envío
                        </header>
                        <div class="row">
                          <div class="col-sm-6">
                            <div class="field-order">
                              <p class="field">Distrito: </p>
                              <p>{{order.delivery_district}}</p>
                            </div>
                            <div class="field-order">
                              <p class="field">Dirección: </p>
                              <p>{{order.delivery_address}}</p>
                            </div>
                          </div>
                          <div class="col-sm-6">
                            <div class="field-order">
                              <p class="field">Teléfono: </p>
                              <p>{{order.contact_phone}}</p>
                            </div>
                            <div class="field-order">
                              <p class="field">Correo Electrónico </p>
                              <p>{{order.contact_email}}</p>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="direccion-de-envio">
                        <header>
                          <i class="icon-prepend fa fa-phone"></i>
                          Información de afiliación
                        </header>
                        <div class="row">
                          <div class="col-sm-6">
                            <div class="field-order">
                              <p class="field">Afiliación: </p>
                              <p>{{order.affiliation_type}}</p>
                            </div>
                            <div class="field-order">
                              <p class="field">Porting Status: </p>
                              <p>{{order.porting_status}}</p>
                            </div>
                            <div class="field-order">
                              <p class="field">Error Message: </p>
                              <p>{{order.porting_status_desc}}</p>
                            </div>
                          </div>
                          <div class="col-sm-6">
                            <div class="field-order">
                              <p class="field">Tipo de Número a portar: </p>
                              <p>{{order.type_number_carry}}</p>
                            </div>
                            <div class="field-order">
                              <p class="field">Número a portar: </p>
                              <p>{{order.porting_phone}}</p>
                            </div>
                            <div class="field-order">
                              <p class="field">Operador: </p>
                              <p>{{order.source_operator}}</p>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="direccion-de-envio data-table table-responsive">
                        <table class="dataTable responsive display projects-table table table-striped table-bordered table-hover no-footer dtr-inline" width="100%">
                          <thead>
                            <tr>
                              <th class="sorting" data-class="vermascol" style="width:10%">Producto</th>
                              <th class="sorting" data-class="expand" style="width:10%">Marca</th>
                              <th class="sorting" data-hide="phone,tablet" style="width:10%">Modelo</th>
                              <th class="sorting" data-hide="phone,tablet" style="width:10%">Color</th>
                              <th class="sorting" data-hide="phone,tablet" style="width:10%">Stock Model Code</th>
                              <th class="sorting" data-hide="phone,tablet" style="width:10%">Cantidad</th>
                              <th class="sorting" data-hide="phone,tablet" style="width:10%">Precio Unitario</th>
                              <th class="sorting" data-hide="phone,tablet" style="width:10%">Sub-total</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let item of order.items">
                              <td>{{item.product_id}}</td>
                              <td>{{item.brand_name}}</td>
                              <td>{{item.product_model}}</td>
                              <td>
                                <div *ngIf="item.stock_models.length > 1" class="btn-group dropdown" dropdown>
                                  <button class="btn btn-primary dropdown-toggle" dropdownToggle>
                                    <span>{{item.color_name}}</span>
                                    <span class="caret"></span>
                                  </button>
                                  <ul *dropdownMenu class="dropdown-menu">
                                    <li *ngFor="let stock_model of item.stock_models">
                                      <a *ngIf="stock_model.color_id != item.color_id" (click)="showPopupColor(item.order_item_id, stock_model.stock_model_id)">{{stock_model.color_name}}</a>
                                    </li>
                                  </ul>
                                </div>
                                <span *ngIf="item.stock_models.length == 1">{{item.color_name}}</span>
                              </td>
                              <td>
                                <div *ngIf="item.stock_models.length > 1" class="btn-group dropdown" dropdown>
                                  <button class="btn btn-primary dropdown-toggle" dropdownToggle>
                                    <span>{{item.stock_model_code}}</span>
                                    <span class="caret"></span>
                                  </button>
                                  <ul *dropdownMenu class="dropdown-menu">
                                    <li *ngFor="let stock_model of item.stock_models">
                                      <a *ngIf="stock_model.stock_model_id != item.stock_model_id" (click)="showPopupStockModel(item.order_item_id, stock_model.stock_model_id)">{{stock_model.stock_model_code}}</a>
                                    </li>
                                  </ul>
                                </div>
                                <span *ngIf="item.stock_models.length == 1">{{item.stock_model_code}}</span>
                              </td>
                              <td>{{item.quantity}}</td>
                              <td *ngIf="!item.promo_id">{{item.product_price}}</td>
                              <td *ngIf="item.promo_id">
                                <span>{{item.promo_price}}</span>
                                <span class="normal-price">{{item.product_price}}</span>
                              </td>
                              <td>{{item.subtotal_igv}}</td>
                            </tr>
                          </tbody>
                          <tfoot>
                            <tr>
                              <td colspan="6"></td>
                              <td>Total + IGV</td>
                              <td>{{order.total_igv}}</td>
                            </tr>
                          </tfoot>
                        </table>
                      </div>
                    </div>
                  </div>

                </form>
              </div>

            </div>
          </sa-widget>
        </div>

      </article>
    </div>
  </sa-widgets-grid>
</div>
