<aside id="left-panel">

  <!-- User info -->
  <sa-login-info></sa-login-info>
  <!-- end user info -->

  <nav>
    <!-- NOTE: Notice the gaps after each icon usage <i></i>..
    Please note that these links work a bit different than
    traditional href="" links. See documentation for details.
    -->

    <ul saSmartMenu>


      <li>
        <a href="#">
          <i class="fa fa-lg fa-fw fa-shopping-cart"></i> <span
          class="menu-item-parent">{{'E-Commerce' | i18n}}</span></a>
        <ul>
          <li routerLinkActive="active">
            <a routerLink="/e-commerce/orders" title="Orders"> {{'Ordenes' | i18n}}</a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="/e-commerce/orders" title="Orders"> {{'Orden detalle' | i18n}}</a>
          </li>
          <!-- <li routerLinkActive="active">
            <a routerLink="/e-commerce/products-view" title="Products View"> {{'Products View' | i18n}}</a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="/e-commerce/product-details" title="Products Detail"> {{'Products Detail' | i18n}}</a>
          </li> -->
        </ul>
      </li>

     

    </ul>
    <!-- <aside-chat></aside-chat> -->
  </nav>

  <!-- <sa-minify-menu></sa-minify-menu> -->

</aside>
