<!-- MAIN CONTENT -->
<div id="content">
  <div class="row">
    <sa-big-breadcrumbs [items]="[' Distritos', subtitle]" icon="cube" class="col-xs-12 col-sm-12 col-md-12 col-lg-12"></sa-big-breadcrumbs>
  </div>

  <ng-container *ngIf="alert">
    <alert *ngFor="let a of alert" type="{{a.mode}}" dismissible="true">
      <i class="fa-fw fa fa-{{a.icon}}"></i>
      <strong>{{a.title}}</strong> {{a.message}}
    </alert>
  </ng-container>

  <sa-widgets-grid>
    <div class="row">
      <article>
        <div class="col-sm-6 col-md-5 col-lg-5">
          <distrito-basic [district]="district" (onAlert)="printAlert($event)" (onUpdate)="refreshDistrict()"></distrito-basic>
        </div>
      </article>
    </div>
  </sa-widgets-grid>

</div>