<sa-widget [editbutton]="false" [custombutton]="false">
  <!-- widget div-->
  <div>
    <!-- widget content -->
    <div class="widget-body no-padding">

      <div class="smart-form">
        <div class="detalle-order">
          <header>
            <i class="icon-prepend fa fa-exclamation-circle"></i>
            Información Básica
          </header>
          <form #formBasic="ngForm" #form class="smart-form margin-top-10" novalidate="novalidate" [saUiValidate]="storeOptions" (onValidationSuccess)="onValidationSuccess($event)" name="form-basic">
            <div class="detalle-registro row padding-row">
              <div class="col col-sm-12">

                <div class="row">
                  <section class="col col-xs-7 col-sm-4">
                    <label for="branch_id">Branch</label>
                  </section>
                  <section class="col col-xs-5 col-sm-8">
                    <div class="select">
                      <select id="branch_id" name="branch_id" (change)="onSelectBranchChange($event)" [(ngModel)]="store.branch_id">
                        <option value="" selected>Seleccionar Branch</option> 
                        <option *ngFor="let item of branches" value="{{item.branch_id}}">{{item.branch_name}}</option>
                      </select>  <i></i>
                    </div> 
                  </section>
                </div>

                <div class="row">
                  <section class="col col-xs-7 col-sm-4">
                    <label for="district_id">Distrito</label>
                  </section>
                  <section class="col col-xs-5 col-sm-8">
                    <div class="select">
                      <select id="district_id" name="district_id" [(ngModel)]="store.district_id">
                        <option value="" selected>Seleccionar Distrito</option> 
                        <option *ngFor="let item of districts" value="{{item.district_id}}">{{item.district_name}}</option>
                      </select>  <i></i>
                    </div> 
                  </section>
                </div>

                <div class="row">
                  <section class="col col-xs-7 col-sm-4">
                    <label for="store_name">Nombre de tienda</label>
                  </section>
                  <section class="col col-xs-5 col-sm-8">
                    <div [class.state-disabled]="store.store_id" class="input">
                      <input id="store_name" name="store_name" type="text" [(ngModel)]="store.store_name">
                    </div>
                  </section>
                </div>

                <div class="row">
                  <section class="col col-xs-7 col-sm-4">
                    <label for="store_slug">Id tienda</label>
                  </section>
                  <section class="col col-xs-5 col-sm-8">
                    <div [class.state-disabled]="store.store_id" class="input">
                      <input id="store_slug" name="store_slug" type="text" [attr.disabled]="store.store_id ? 'disabled' : null" [(ngModel)]="store.store_slug">
                      <input *ngIf="store.store_id" type="hidden" name="store_slug" value="{{store.store_slug}}">
                    </div>
                  </section>
                </div>

                <div class="row">
                  <section class="col col-xs-7 col-sm-4">
                    <label for="store_ubigeo">Ubigeo</label>
                  </section>
                  <section class="col col-xs-5 col-sm-8">
                    <div [class.state-disabled]="store.store_id" class="input">
                      <input id="store_ubigeo" name="store_ubigeo" type="text" maxlength="6" [(ngModel)]="store.store_ubigeo">
                    </div>
                  </section>
                </div>

                <div class="row">
                  <section class="col col-xs-7 col-sm-4">
                    <label for="store_address">Dirección de tienda</label>
                  </section>
                  <section class="col col-xs-5 col-sm-8">
                    <div [class.state-disabled]="store.store_id" class="input">
                      <input id="store_address" name="store_address" type="text" [(ngModel)]="store.store_address">
                    </div>
                  </section>
                </div>
              </div>
              <div class="col col-sm-12">
                <div class="row">
                  <footer>
                    <div class="btn-footer">
                      <button class="btn btn-primary" name="submit" type="submit">Guardar</button>
                    </div>
                    <div class="btn-footer">
                      <button class="btn btn-primary" name="regresar" type="button" (click)="cmdRegresar()">Regresar</button>
                    </div>
                  </footer>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>

    </div>
    <!-- end widget content -->
  </div>
  <!-- end widget div -->
</sa-widget>
