<table cell-padding="5" cell-spacing="0" border="0" class="table table-hover table-condensed">
    <tbody><tr>
        <td style="width:100px"><b>Idiomas:</b></td>
        <td>{{data.langCodes.join(', ')}}</td>
    </tr>
    <tr>
        <td><b>Título:</b></td>
        <td>{{data.titulo[0]}}</td>
    </tr>
    <tr>
        <td><b>Lugar:</b></td>
        <td>{{data.lugar[0]}}</td>
    </tr>
    <tr>
        <td><b>Descripción:</b></td>
        <td>{{data.desc[0]}}</td>
    </tr>
    <tr>
        <td><b>Inicia:</b></td>
        <td>{{data.hora_inicio | hourmins }}</td>
    </tr>
    <tr>
        <td><b>Termina:</b></td>
        <td>{{data.hora_fin | hourmins }}</td>
    </tr>
    <tr>
        <td><b>Creado:</b></td>
        <td>{{data.creado | date:"dd-MM-yy" }}</td>
    </tr>
    <tr>
        <td><b>Modificado:</b></td>
        <td>
            {{data.modificado | date:"dd-MM-yy" }}
            <!-- <button (click)="Desactivar(data)" class="btn btn-xs btn-danger pull-right" style="margin-left:5px">Desactivar</button> -->
            <button (click)="Editar(data)" class="btn btn-xs btn-success pull-right">Editar</button>
        </td>
    </tr></tbody>
</table>