<div id="content">
  <div class="row">
    <sa-big-breadcrumbs [items]="['Actividades Predefinidas', mode]" icon="calendar" class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></sa-big-breadcrumbs>
  </div>
  <sa-widgets-grid>
    <!-- row -->
    <div class="row">
      <!-- NEW WIDGET START -->
      <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <!-- Widget ID (each widget will need unique ID)-->
        <sa-widget color="darken">
          <header>
            <span class="widget-icon"> <i class="fa fa-hashtag"></i> </span>
            <h2>ID: {{predefinida._id}}</h2>
          </header>
          <div class="widget-body">
            <form-container
              (onValidationSuccess)="onValidationSuccess($event)"
              [validatorOptions]="validationOptions"
            >
              <fieldset>
                  <legend>Contenido</legend>

                  <div class="form-group">
                    <div class="col-md-10 col-md-push-2">
                        <div class="btn-group" data-toggle="buttons">
                          <label
                            class="btn btn-default btn-xs"
                            *ngFor="let lang of langCodes;"
                            [saToggleActive]="lang.code == selectedLang">
                            <input  type="radio"
                                    (click)="setLang(lang.code)"
                                    [checked]="lang.code == selectedLang"
                                    name="selectedLang"> {{ lang.label }}
                          </label>
                        </div>
                    </div>
                  </div>

                  <div class="form-group">
                      <label class="col-md-2 control-label">Titulo*</label>
                      <div class="col-md-4">
                        <input [(ngModel)]="predefinida[selectedLang].titulo" name="titulo" required class="form-control" type="text">
                      </div>
                  </div>
                  <div class="form-group">
                      <label class="col-md-2 control-label">Lugar*</label>
                      <div class="col-md-4">
                          <input [(ngModel)]="predefinida[selectedLang].lugar" name="lugar" required class="form-control" type="text">
                      </div>
                  </div>
                  <div class="form-group">
                      <label class="col-md-2 control-label">Descripción*</label>
                      <div class="col-md-4">
                        <textarea [(ngModel)]="predefinida[selectedLang].desc" name="desc" class="form-control" rows="3"></textarea>
                      </div>
                  </div>

              </fieldset>

              <fieldset>
                  <legend>Horario de actividad</legend>
          
                  <div class="row">
                    <div class="form-group">              
                      <label class="col-md-2 control-label">Hora de inicio*</label>
                      <div class="col-md-4">
                        <input
                          name="hora_inicio" class="form-control"
                          [value]="hora_inicio"
                          smartTimepicker
                          [smartTimepickerOptions]="timerOptions"
                          (onSmartTimepickerUpdates)="onTimeChanges($event)"
                          type="text"
                          required
                          placeholder="Ingresar Horario en 12:00 AM">
                      </div>
                    </div>
          
                    <div class="form-group">              
                      <label class="col-md-2 control-label">Hora de fin*</label>
                      <div class="col-md-4">
                          <input
                            name="hora_fin" class="form-control"
                            [value]="hora_fin"
                            smartTimepicker
                            [smartTimepickerOptions]="timerOptions"
                            (onSmartTimepickerUpdates)="onTimeChanges($event)"
                            type="text"
                            required
                            placeholder="Ingresar Horario en 12:00 AM">
                      </div>
                    </div>
                  </div>
                </fieldset>
                
                <div class="form-actions">
                  <div class="row">
                    <div class="col-md-12">
                        <button type="button" class="btn btn-default" onclick="window.history.back();">Regresar</button>
                        <button type="submit" class="btn btn-primary">Guardar</button>
                    </div>
                  </div>
                </div>
            </form-container>
            </div>
        </sa-widget>
      </article>
      <!-- WIDGET END -->
    </div>
    <!-- end row -->
  </sa-widgets-grid>
  <!-- end widget grid -->
</div>